@font-face {
  font-family: 'Damion';
  font-style: normal;
  font-weight: 400;
  src: url(http://fonts.gstatic.com/s/damion/v6/bXcvEiCQ_q7eKaDwIcgSIg.eot);
}
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  src: url(http://fonts.gstatic.com/s/josefinsans/v9/xgzbb53t8j-Mo-vYa23n5nZ2MAKAc2x4R1uOSeegc5U.eot);
}
